<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">waboorrt</a>
                <form class="d-flex" action="/login" method="post">
                    <input class="form-control me-2" name="username" placeholder="dummy-nickname">
                    <input class="form-control me-2" name="template" value="python" placeholder="template">
                    <input class="form-control me-2" name="pubkey" placeholder="ssh-rsa AAAAB...">
                    <button class="btn btn-outline-success">Login with rC3</button>
                </form>
            </div>
        </nav>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>