{% extends "base.html" %}

{% block content %}
    <div class="row mt-2">
        <div class="col-8">
            TODO: gameboard goes here
        </div>
        <div class="col-4">
            <div class="list-group">
                {% for game in games %}
                    <a href="#{{ game.id }}" class="list-group-item">
                        {{ game.title }}<br/>
                        <small class="text-muted text-end">{{ game.timestamp }}</small>
                    </a>
                {% else %}
                    <span class="list-group-item">No games yet</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}